header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main {
  display: flex;
}

main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#nome-sobrenome {
  display: flex;
}

#email-house {
  display: flex;
}

#radio-family {
  display: flex;
  flex-direction: column;
}

#temMuitoInput {
  display: flex;
  flex-direction: column;
}

.ladinho {
  display: flex;
}
