https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css;

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(52, 194, 168);
  margin: 0;
  padding: 0;
  height: 100px;
  align-items: center;
}

h1 {
  font-family: Epilogue , sans-serif;
  color: white;
}

.trybewarts-header-logo {
  width: 75px;
  margin-left: 250px;
}

.trybewarts-login {
  display: flex;
  width: 750px;
}

.flex-container {
  display: flex;
}

.email {
  margin: 10px;
}

.password {
  margin: 10px;
}

.login-btn {
  margin: 10px;
  width: 100px;
}

.select {
  margin: 8px;
  width: 900px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 8px;
  font-family: Epilogue , sans-serif;
  font-size: large;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.user-name {
  display: flex;
}

.email-house {
  display: flex;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

.resultForm {
  display: none;
}

.span {
  display: flex;
}

#counter {
  margin-right: 5px;
}

.acept {
  margin: 20px 5px;
}

footer {
  margin: 20px;
  text-align: center;
}
